body{
    display: grid;
    place-items: center;
    margin-top: 60px;
}
hr{
    width: 300px;
}
.container{
    display: grid;
    place-items: center;
    width: 300px;
    height: 500px; 
    /* background-color: rgb(171, 255, 227); */
    border-radius: 20px;
    border: 1px solid gray
}
.Nav{
    margin-top: 7px;
}
.title{
    text-align: center;
}
.enter{
    display: grid;
    place-items: center;
    width: 105px;
    height: 35px;
    border-radius: 10px;
    background-color: rgb(209, 209, 209);
}
.login{
    display: grid;
    place-items: center;
    width: 130px;
    height: 35px;
    border-radius: 10px;
    background-color: rgb(209, 209, 209);
}
.message{
    width: 90%;
    display: grid;
    text-align: center;
    border-radius: 10px;
    border: 1px solid black
}
h5{
    margin-bottom: 0;
}